test/
.github/
.vscode/
.dev-server/
*.test.js
appveyor.yml
.travis.yml
tsconfig.json
tsconfig.*.json
.eslintrc*
eslint.config.*
.editorconfig
.gitattributes
.git/
.nyc_output
coverage/
CONTRIBUTING.md
.releaseconfig.json
